@import "compass/css3";

body {
	background-color: white;
    font-family: 'Open Sans';
    font-size: 22px;
}

header {
	margin: 25px;
}

header h1 {
	font-size: 21pt;
	color: black;
}

header p {
	color: black;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}

nav {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Francois One';
	background-color: #DBD9C7;
	height:40px;
	width: 100%;
}

ul {
	padding-left: 100px;
}

li {
	padding-bottom: 4px;
}

li a {
	color: #636158;
	text-decoration: none;
	font-size: 16pt;
	list-style: none;
	text-align: center;
}

nav ul {
	width: 100%;
}

nav ul li {
	float: left;
	margin-right: 25px;
	border-radius: 8px;
	list-style: none;
	vertical-align: middle;
	width: 200px;
	padding-top: 3px;
}

nav:after {
	clear: both;
}

li a:hover {
	text-decoration: underline;
}

section h1 {
	color: black;
	font-size: 21pt;
}

section h2 {
	color: black;
	font-size: 18pt;
}

section p {
	color: black;
	font-size: 14pt;
	width: 80%;
	margin: 25px;
	text-align: left;
}

section img {
	width: 250px;
	height: 250px;
	border-color: #FFFFFF;
	border-width: 8px;
	border-style: solid;
}

.planets {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	text-align: center;
}

.planet {
	min-height: 700px;
	vertical-align: top;
	width: 80%;
	margin: 0 auto;
}

.planet p {
	margin-left: auto;
	margin-right: auto;
}

#main-content {
	background-color: white;
	color: black;
	border-radius: 10px;
	/* width: 85%; */
	margin: 60px 78px;
	min-height: 400px;
	padding-top: 10px;
}

#main-content h2 {
	padding: 14px;
	color: black;
}

#main-content p {
	color: black;
}

.value {
	color: green;
	font-weight: bold;
}

form div {
	padding: 10px 0px;
}

form div label {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	color: black;
}

form button {
	text-align: center;
	margin-left: 224px;
}

input[type=text], input[type=datetime], textarea {
	width: 300px;
}

th, td {
	color: white;
}

table tr:first-child {
	padding-bottom: 10px;
	font-size: 1.1em;
}

table td {
	min-width: 75px;
	padding: 5px 5px;
}

section.centeredPanel {
	clear: both;
	display: block;
	width: 80%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin-left: 60px;
	margin-top: 60px;
}

section.centeredPanel h2 {
	color: #000000;
	text-align: center;
}

section.centeredPanel p {
	color: #000;
	text-align: left;
}

.centered {
	text-align: center;
	display: block;
}

.copyright {
	color: white;
	text-align: center;
}

#week-forecast{
	display: inline-block;
	vertical-align: middle;
	float: none;
}

#week-forecast img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

#survey-form label {
	width:280px;
}

#survey-form #submit-button {
	text-align: center;
}

#survey-form #radio-buttons input:not(:first-child) {
	margin-left: 20px;
}

.francois-font{
	font-family: 'Francois One';
}

.extra-bold {
	font-weight: 600;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 400px;
  height: 150px;
  margin-top: 10px;
  color: white;
  text-align: center;
}